.params{
    background-color: white;
    height: 50vh;
    width: 100%;
    border: 1px solid black;
}
.headers{
    background-color: white;
    height: 50vh;
    width: 100%;
    border: 1px solid black;
}
.body{
    background-color: white;
    height: 50vh;
    width: 100%;
    border: 1px solid black;
}